/* Button styles */
.reserve-button {
  background-color: #F4CE14;
  color: #333;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reserve-button:hover {
  background-color: #E4BE04;
}